<% layout('layouts/boilerplate') %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <br />
      <h3>Create new Listing</h3>
      <form
        action="/listings"
        method="post"
        class="needs-validation"
        novalidate
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            placeholder="Enter catchy title"
            name="listing[title]"
            class="form-control"
            required
          />
          <div class="valid-feedback">Damn What a Title!!</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            placeholder="Description"
            name="listing[description]"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Describe your place dude...?</div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              placeholder="1200"
              name="listing[price]"
              class="form-control"
              required
            />
            <div class="invalid-feedback">
              Would you even rent on this price!?
            </div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              placeholder="India"
              name="listing[country]"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Which country??</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="url" class="form-label">Url for image</label>
          <input
            type="text"
            placeholder="Enter Image URL"
            name="listing[image]"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            placeholder="Jaipur"
            name="listing[location]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">One last thing...😅</div>
        </div>
        <button class="btn btn-dark add-btn">Create Listing</button>
        <br /><br />
      </form>
    </div>
  </div>
</body>
